.card-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px dashed var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border-color: var(--primary-color);
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
  }
  span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
  }

  svg {
    width: 70px;
    fill: var(--primary-color);
    transition: all 0.3s ease;
  }
}
