aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  background-color: #000000;
  border-radius: 0px 20px 20px 0px;
  padding: 10px 0px;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .logo-image {
      width: 160px;
      height: 100px;
      padding: 1rem;
      border-radius: 50%;
      background-color: red;
    }
  }

  .footer-sidebar {
    width: 100%;
    margin-top: auto;

    button {
      border: none;
      background: none;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;
  margin: 10px;
  list-style: none;

  li {
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.7rem;
      border-radius: 0.5rem;
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      transition: all 0.3s;
      padding: 0.75rem 1.5rem;

      &.active {
        background-color: #dc4921;
      }

      &:hover {
        background-color: #dc4921;
      }
    }

    svg {
      width: 30px;
      fill: #fff;
    }

    label {
      font-weight: 500;
      font-size: 0.9rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
